html,body{
  height: 100%;
}
#sidebar{
  background-color: #1b2c3b;
  width: 200px;
  position: absolute;
  height: 100%;
  #profile{
    a{
      color: white;
      padding: 20px;
      display: block;
      &:hover{
        text-decoration: none;
        background-color: #213648;
      }
      img{
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
      }
    }
  }
  #todos{
    h3{
      padding: 10px 20px;
      font-size: 1em;
      color: white;
      background-color: #32526e;
      a{
        display: inline-block;
        float: right;
        color: white; 
      }
    }
    ul.uk-list{
      li{
        position: relative;
        &.active{
          background-color: #213648;
        }
        a.delete,a.edit{
          top: 10px;
          display: none;
        }
        &:hover{
          a.delete,a.edit{
            display: block;
          }
        }
        a.title{
          color: white;
          display: block;
          padding: 10px 20px;
          &:hover{
            background-color: #213648;
            text-decoration: none;
          }
        }
      }
    }
  }
  a.add.todo{
    display: block;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    position: fixed;
    width: 160px;
    bottom: 0px;
    color: #1fbba6;
    &:hover{
      text-decoration: none;
      background-color: #1fbba6;
      color: #fff;
      -webkit-transition: background-color 0.32s ease;
      -o-transition: background-color 0.32s ease;
      transition: background-color 0.32s ease;
    }
  }
}
#main{
  margin-left: 200px;
  position: relative;
  height: 100%;
  overflow: hidden;
  #navigation{
    background-color: #fff;
    position: relative;
    ul{
      border-bottom: 1px solid #f0f0f0;
      padding: 0;
      margin: 0;
      li{
        font-size: 12px;
        &.uk-active>a>span{
          color: #1b2c3b;
        }
        a{ 
          line-height: 3em;
          padding: 0 20px;
          text-transform: uppercase;
          i{
            margin-left: 20px; 
          }
        }
      }
    }
  } 
  #content{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #eaedf1;
    margin-top: -37px;
    padding-top: 37px;
    height: 100%;
    overflow: hidden;
    width: 150%;
    &:after{
      display: table;
      content: "";
      clear: both;
    }
    .container{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 20px; 
      width: 33.33%;
      height: 100%;
      background-color: #fff;
      float: left;
      -webkit-transition: width 0.6s ease;
      -o-transition: width 0.6s ease;
      transition: width 0.6s ease;
      &.activities{
        width: 66.66%;
      }
      h3{
        text-transform: uppercase;
        padding: 10px 20px;
        background-color: white;
        a{
          -webkit-transition: all 0.32s ease;
          -o-transition: all 0.32s ease;
          transition: all 0.32s ease;
          float: right;
          margin-left : 10px;
          color: #aaa;
          &:hover{
            color: #1b2c3b;
          }

          i{
            font-family: "Lato", sans-serif;
            &:before{
              font-family: "FontAwesome";
              margin-right: 5px;
            }
          }
        }
      }
      &:nth-child(2n+1){
        background-color: transparent;
      }
    }
  }
}
.sut-list-activity{
  padding-left: 0;
  li{
    border-bottom: 1px solid #eee;
    background-color: white;
    padding: 20px;
    list-style: none;
    position: relative;
    &:last-child{
      border: 0;
    }
    &:hover{
      background-color: #f9f9f9;
      a.icon-action{
        display: block;
      }
    }
    .check{
      float: left;
      font-size: 2em;
      color: #ff525d;
      -webkit-transition: color 0.32s ease;
      -o-transition: color 0.32s ease;
      transition: color 0.32s ease;
      i.uk-icon-circle-o{
        display: block;
      }
      i.uk-icon-check-circle{
        display: none;
      }
      &.active{
        color: #1fbba6;
        i.uk-icon-circle-o{
          display: none;
        }
        i.uk-icon-check-circle{
          display: block;
        }
        &:hover{
          color: #ff525d;
        }
      }
      &:hover{
        color: #1fbba6;
        text-decoration: none;
      }
    }
    &>div{
      padding-left: 40px; 
      /* border-left: 1px solid #eee;*/
      h4{
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 3em;
      }
      span{
        font-style: italic;
        margin-top: 0;
        font-size: 0.9em;
        color: #aaa;
      }
      p{
        font-style: italic;
        display: none;
      }
    }
    .delete,.edit{
      display: none;
      float: right;
      margin-left: 5px;
    }
  }
}

a.icon-action{
  &.delete{
    position: absolute;
    top: 20px;
    right: 20px;
    i{
      background-color: #e0303b;
    }
    i:hover{
      background-color: #ff525d;
      color: #fff;
    }
  }
  &.edit{
    position: absolute;
    top: 20px;
    right: 45px;
    i{
      background-color: #18aa96;
    }
    i:hover{
      background-color: #1fbba6;
      color: #fff;
    }
  }
  &.add{
    color: white;
    text-transform: none;
    i{
      width: auto;
      padding : 5px;
      font-size: 0.8em;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      background-color: #18aa96;
      &:hover{
        background-color: #1fbba6;
      }
    }
  }
  i{
    padding: 5px;
    width: 1em;
    height: 1em;
    font-size: 0.8em;
    text-align: center;
    background-color: #aaa;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.32s ease;
    -o-transition: all 0.32s ease;
    transition: all 0.32s ease;
  }
}
.uk-modal{
  form{
    .uk-button-primary{
      color: #fff;
      background-color: #18aa96;
      &:hover{
        background-color: #1fbba6;
      }
    }
  }
}

.uk-datepicker{
  border: 1px solid #aaa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}