img{
  background-size: cover;
}

#menu {
  position: fixed;
  bottom: 10px;
  right: 10px;
  left: 10px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
}

.slide-overlay{
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  display: table;
  &>div{
    width: 33.33%;
    display: table-cell;
    vertical-align: middle;
    padding: 0 60% 0 10%;
    h2{
      font-size: 3em;
      margin-bottom: 1em;
      font-weight: 300;
    }
    h2,p{
      color: white;
    }
  }
}

#login-form{
  position: absolute;
  height: 100%;
  right: 10%;
  width: 260px;
  display: table;
  top:0;
  &>div{
    display: table-cell;
    vertical-align: middle;
  }
  img.logo{
    margin-bottom : 2em;
  }
  input[type='text'],
  input[type='password']{
    padding: 15px 5px;
  }
  input[type='submit'],.register-button{
    padding: 8px 0;
  }
  img{
    margin: 0 auto;
    display: block;
  }
  div.register-label{
    color: white;
    text-align: center;
  }
  .uk-form-password-toggle{
    font-weight: 400;
  }
}

