h1,
h2,
h3,
h4,
h5,
h6,
html {
  font-family: Lato,sans-serif;
}

body {
  margin: 0;
}
#sidebar,
body,
html {
  height: 100%;
}

#sidebar #profile a img,
#sidebar #projects ul.uk-list li i.uk-icon-ellipsis-h {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#sidebar {
  background-color: #1b2c3b;
  width: 200px;
  position: absolute;
}

#sidebar #profile a {
  color: #fff;
  padding: 20px;
  display: block;
}

#sidebar #profile a:hover {
  text-decoration: none;
}

#sidebar #profile a img {
  border-radius: 50%;
}

#sidebar #projects h3 {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #32526e;
}

#sidebar #projects h3 a {
  display: inline-block;
  float: right;
  color: #fff;
}

#sidebar #projects ul.uk-list li {
  position: relative;
}

#sidebar #projects ul.uk-list li.active {
  background-color: #213648;
}

#sidebar #projects ul.uk-list li i.uk-icon-ellipsis-h {
  display: none;
  position: absolute;
  right: 20px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #fff;
  color: #1b2c3b;
  text-align: center;
  padding: 3px;
  top: 10px;
  cursor: pointer;
}

#sidebar #projects ul.uk-list li:hover i.uk-icon-ellipsis-h {
  display: block;
}

#sidebar #projects ul.uk-list li a {
  color: #fff;
  display: block;
  padding: 10px 20px;
}

#sidebar #projects ul.uk-list li a:hover {
  background-color: #213648;
  text-decoration: none;
}

#main {
  margin-left: 200px;
  position: relative;
  height: 100%;
}

#main #navigation {
  background-color: #fff;
  position: relative;
}

#main #navigation ul {
  border-bottom: 1px solid #f0f0f0;
  padding: 0;
  margin: 0;
}

#main #navigation ul li {
  font-size: 12px;
}

#main #navigation ul li.uk-active>a>span {
  color: #1b2c3b;
}

#main #navigation ul li a {
  line-height: 3em;
  padding: 0 20px;
  text-transform: uppercase;
}

#main #navigation ul li a i {
  margin-left: 20px;
}

#main #content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eaedf1;
  margin-top: -37px;
  padding-top: 37px;
  height: 100%;
}