h1,
h2,
h3,
h4,
h5,
h6,
html {
  font-family: Lato,sans-serif;
}

body {
  margin: 0;
}
#main,
#sidebar,
body,
html {
  height: 100%;
}

#sidebar {
  background-color: #1b2c3b;
  width: 200px;
  position: absolute;
}

#main {
  margin-left: 200px;
  position: relative;
}

#main #navigation {
  background-color: #fff;
  position: relative;
}

#main #navigation ul {
  border-bottom: 1px solid #f0f0f0;
  padding: 0;
  margin: 0;
}

#main #navigation ul li {
  font-size: 12px;
}

#main #navigation ul li.uk-active>a>span {
  color: #1b2c3b;
}

#main #navigation ul li a {
  line-height: 3em;
  padding: 0 20px;
  text-transform: uppercase;
}

#main #navigation ul li a i {
  margin-left: 20px;
}

#main #content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eaedf1;
  margin-top: -37px;
  padding-top: 37px;
  height: 100%;
}