h1,
h2,
h3,
h4,
h5,
h6,
html {
  font-family: Lato,sans-serif;
}

body {
  margin: 0;
}
#menu,
img {
  width: 100%;
}

#login-form,
.slide-overlay {
  position: absolute;
  height: 100%;
}

#menu {
  position: fixed;
  bottom: 10px;
  right: 10px;
  left: 10px;
  z-index: 70;
  padding: 0;
  margin: 0;
}

.slide-overlay {
  background: rgba(0,0,0,.5);
  display: table;
  width: 100%;
}

.slide-overlay>div {
  display: table-cell;
  vertical-align: middle;
  padding: 0 60% 0 10%;
}

.slide-overlay>div h2 {
  font-size: 3em;
  margin-bottom: 1em;
  font-weight: 300;
  line-height: 1em;
}

.slide-overlay>div h2,
.slide-overlay>div p {
  color: #fff;
}

#login-form {
  right: 10%;
  width: 260px;
  display: table;
  top: 0;
}

#login-form>div {
  display: table-cell;
  vertical-align: middle;
}

#login-form img.logo {
  margin-bottom: 2em;
}

#login-form input[type=text],
#login-form input[type=password] {
  padding: 15px 5px;
}

#login-form .register-button,
#login-form input[type=submit] {
  padding: 8px 0;
}

#login-form img {
  margin: 0 auto;
  display: block;
}

#login-form div.register-label {
  color: #fff;
  text-align: center;
}

#login-form .uk-form-password-toggle {
  font-weight: 400;
}